body {

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  letter-spacing: 0.5px;
}

.navbar p {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 30px;
  color: white;
  font-size: 17px;
}
.navbar-collapse{
  margin-left: 40px;
  margin-right: 40px;
}
.login-register-btn {
  margin-left: 43.5%;
  font-size: 20px;
}

.login-register-btn :hover {
  color: #ffffff;
}

.cart-btn {
  margin-right: 7%;
  font-size: 25px;
}

.cart-btn :hover {
  color: #fdfdfd;

}

.about_pg1il span {
  width: 120px;
  height: 120px;
  line-height: 120px;
}

.about_pg1il span {
  background: #451582;
  color: white;
}

.about_pg2i {
  background: #ffffff;
  border: 1px solid #3f117cc0;
}

.about_pg2i:hover {
  border: 1px solid #3f117cc0;
}

.about_pg2i ul li a {
  background: #ffffff;
  border-radius: 0;
}

.social-network {
  list-style-type: none;
  display: flex;
  color: black;

}

@media screen and (max-width : 767px) {
  .about_pg1i {
    text-align: center;
  }

  .about_pg1ir {
    margin-top: 15px;
  }

  .about_pg1ir p {
    text-align: left;
  }

  .about_pg2i {
    padding: 10px !important;
  }

  .about_pg2i {
    margin-top: 15px;
  }

  .about_pg2i h5 {
    text-align: center;
  }

  .about_pg2i h6 {
    text-align: center;
  }

  .about_pg2i .font_14 {
    text-align: left;
  }

  .about_pg2i ul {
    text-align: center;
  }

}


@media (min-width:576px) and (max-width:767px) {}

@media (min-width:768px) and (max-width:991px) {
  .about_pg1il span {
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .about_pg2i h6 {
    font-size: 10px;
  }

  .about_pg2i p {
    font-size: 12px;
  }

  .about_pg2i {
    padding: 10px 5px !important;
  }

  .about_pg2i ul li a {
    width: 30px;
    height: 30px;
  }

  .about_pg2i ul li a i {
    line-height: 30px;
    font-size: 14px;
  }

}

@media (min-width:992px) and (max-width:1200px) {
  .about_pg1il span {
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }

}

@media (min-width:1201px) and (max-width:1255px) {}

/* footer */
.footer {
  background-color: #ffffffd8;
  padding: 40px 0;
  border-top: 1px solid #a8a1a1c7;
}

.footer .contact-info p {
  margin: 0;
  padding: 5px;
  font-size: 14px;
  color: #000000;
}

.footer .contact-info p :hover {
  color: #542999fd;
  text-decoration: underline;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #542999fd;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #542999fd;
  text-decoration: underline;
}

.footer .newsletter input[type="email"] {
  border: 2px solid #542999fd;
  padding: 10px;
  width: 100%;
  max-width: 250px;
}

.footer .newsletter button {
  background-color: #542999fd;
  color: #ffffff;
  border-radius: 3px solid white;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.footer .currency-selector select {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  background-color: #fffffffd;
  border: 3px solid #542999fd;
  margin-top: 10px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
}


/* styles.css */
#back-to-top {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed position */
  bottom: 20px;
  /* Place the button 20px from the bottom */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #000;
  /* Black background */
  color: white;
  /* White text */
  cursor: pointer;
  /* Pointer/hand icon */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#back-to-top:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}