body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
}

.navbar p {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 30px;
  color: white;
  font-size: 17px;
}
 .navbar-collapse{
  margin-right: 40px;
} 
.login-register-btn {
  margin-left: 43.5%;
  font-size: 20px;
  text-decoration: none;
}

.login-register-btn :hover {
  color: #ffffff;
}

.cart-btn {
  margin-right: 7%;
  font-size: 25px;
}

.cart-btn :hover {
  color: #fdfdfd;

}

.carousel-caption {
  text-align: left;
  background-color: rgba(52, 5, 78, 0.500);
  padding: 200px 150px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}

.carousel-caption p {
  width: 45%;
}

.carousel-indicators {
  bottom: 0;
}

.center_home .carousel-indicators [data-bs-target] {
  background-color: rgba(255, 255, 255, 0.479);
}

@media screen and (max-width : 767px) {
  .center_home img {
    min-height: 350px;
  }

  .carousel-caption {
    text-align: center;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 10px;
  }

  .carousel-caption .font_60 {
    font-size: 28px;
  }

  .carousel-caption h4 {
    font-size: 20px;
  }

  .carousel-caption p {
    font-size: 14px;
    text-align: left;
    width: 100%;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .center_home img {
    min-height: 500px;
  }

  .carousel-caption .font_60 {
    font-size: 45px;
  }

  .carousel-caption {
    padding: 100px 100px;
  }

  .carousel-caption p {
    width: 60%;
  }


}

@media (min-width:992px) and (max-width:1200px) {
  .carousel-caption {
    padding: 100px 100px;
  }

  .center_home img {
    min-height: 550px;
  }

}

@media (min-width:1201px) and (max-width:1255px) {}

.box-heading {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px;
}



/* footer */

.footer {
  background-color: #ffffffd8;
  padding: 40px 0;
  border-top: 1px solid #a8a1a1c7;
}

.footer .contact-info p {
  margin: 0;
  padding: 5px;
  font-size: 14px;
  color: #000000;
}

.footer .contact-info p :hover {
  color: #542999fd;
  text-decoration: underline;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #542999fd;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #542999fd;
  text-decoration: underline;
}

.footer .newsletter input[type="email"] {
  border: 2px solid #542999fd;
  padding: 10px;
  width: 100%;
  max-width: 250px;
}

.footer .newsletter button {
  background-color: #542999fd;
  color: #ffffff;
  border-radius: 3px solid white;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.footer .currency-selector select {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  background-color: #fffffffd;
  border: 3px solid #542999fd;
  margin-top: 10px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
}

/* styles.css */
#back-to-top {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed position */
  bottom: 20px;
  /* Place the button 20px from the bottom */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #542999fd;
  /* Black background */
  color: white;
  /* White text */
  cursor: pointer;
  /* Pointer/hand icon */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#back-to-top:hover {
  background-color: #542999d0;
  /* Add a dark-grey background on hover */
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px -2px 5px rgba(0,0,0,0.1);
  padding: 15px 10px;
  text-align: center;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cookie-banner p {
  margin: 0;
  flex: 1;
}
.cookie-banner a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.cookie-banner button {
  background-color: #542999fd;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}
.cookie-banner button:hover {
  background-color: #542999e3;
  color: white;
  font-size: 14px;
}
@media (min-width: 600px) {
  .cookie-banner {
      flex-direction: row;
      justify-content: space-between;
  }
  .cookie-banner button {
      margin-top: 0;
      margin-left: 20px;
  }
}